{
    auto_https disable_redirects
    default_sni domotic.local
}

:{{DOMOTIC_PORT}} {
    tls {{CERTS_DIR}}/server_cert.pem {{CERTS_DIR}}/server_key.pem {
        client_auth {
            mode require_and_verify
            trust_pool file {{CERTS_DIR}}/ca_cert.pem
        }
    }

    reverse_proxy {{BACKEND_PROTOCOL}}://{{BACKEND_IP}}:{{BACKEND_PORT}}
}